export ENVIRONMENT="development"

export SENTRY_ORGANIZATION=""
export SENTRY_PROJECT=""
export SENTRY_AUTH_TOKEN=""
export SENTRY_DSN=""

# Fastlane start
export LC_ALL=""
export LANG=""

export FASTLANE_USER=""

export MATCH_PASSWORD=""
export MATCH_GIT_URL=""
export MATCH_GIT_BASIC_AUTHORIZATION=""

export APP_STORE_CONNECT_API_KEY_KEY_ID=""
export APP_STORE_CONNECT_API_KEY_ISSUER_ID=""
export APP_STORE_CONNECT_API_KEY_KEY=""

export ANDROID_KEYSTORE=""
export ANDROID_KEYSTORE_PASSWORD=""
export ANDROID_KEYSTORE_ALIAS=""
export ANDROID_KEYSTORE_KEY_PASSWORD=""
export SUPPLY_JSON_KEY_DATA=""
# Fastlane end