<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661638997772-sqa4raeghhrieqt9guljhcul9b51dvna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661638997772-sqa4raeghhrieqt9guljhcul9b51dvna</string>
	<key>API_KEY</key>
	<string>AIzaSyAOS1Yq_uNVctG89LB6Dl1PVhb_FAQRbRg</string>
	<key>GCM_SENDER_ID</key>
	<string>661638997772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xmflsct.app.mastodon</string>
	<key>PROJECT_ID</key>
	<string>xmflsct-mastodon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>xmflsct-mastodon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661638997772:ios:30b6bc26a1c84b5a9f8b29</string>
</dict>
</plist>